/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: "Open Sans";
	color: #86878b;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* --------------Технические контейнеры---------- */

._container {
	max-width: 1153px;
	margin: 0px auto;
	padding: 0px 15px;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	width: 100%;
	object-fit: cover;
}
.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.title h4 {
	font-family: Raleway;
	font-size: 36px;
	text-align: center;
	color: #212121;
	text-transform: uppercase;
	margin-bottom: 60px;
	position: relative;
}
.title h4::after {
	content: "";
	position: absolute;
	top: 66px;
	left: 47%;
	width: 6%;
	height: 2px;
	background-color: #ff8b38;
	display: inline-block;
}
@media (max-width: 440px) {
	.title h4::after {
		top: 102px;
		left: 47%;
	}
}
.title h6 {
	line-height: 1.43;
	text-align: center;
	color: #86878b;
}
/* --------------Page------------------- */
.page__axis {
	position: relative;
	padding-bottom: 139px;
}
@media (max-width: 950px) {
	.page__axis {
		padding-bottom: 40px;
	}
}
.page__social {
	padding: 22px 0px;
}
.page__tabs {
	background-color: #f5f5f5;
	padding: 147px 0px 114px 0px;
}
@media (max-width: 950px) {
	.page__tabs {
		padding-top: calc(45px + (147 - 45) * ((100vw - 320px) / (1153 - 320)));
		padding-bottom: calc(30px + (114 - 30) * ((100vw - 320px) / (1153 - 320)));
	}
}
.page__sublist {
	padding: 107px 0px 133px 0px;
}
@media (max-width: 950px) {
	.page__sublist {
		padding-top: calc(35px + (107 - 35) * ((100vw - 320px) / (1153 - 320)));
		padding-bottom: calc(25px + (133 - 25) * ((100vw - 320px) / (1153 - 320)));
	}
}
.page__standart {
	padding: 90px 0px 130px 0px;
	background-color: #f5f5f5;
}
@media (max-width: 950px) {
	.page__standart {
		padding-top: calc(35px + (90 - 35) * ((100vw - 320px) / (1153 - 320)));
		padding-bottom: calc(25px + (130 - 25) * ((100vw - 320px) / (1153 - 320)));
	}
}
.page__awesome {
	padding: 108px 0px 105px 0px;
}
@media (max-width: 950px) {
	.page__awesome {
		padding-top: calc(35px + (108 - 35) * ((100vw - 320px) / (1153 - 320)));
		padding-bottom: calc(25px + (105 - 25) * ((100vw - 320px) / (1153 - 320)));
	}
}
.page__pricing {
	padding: 108px 0px 96px 0px;
	background-color: #f5f5f5;
}
@media (max-width: 950px) {
	.page__pricing {
		padding-top: calc(35px + (108 - 35) * ((100vw - 320px) / (1153 - 320)));
		padding-bottom: calc(25px + (96 - 25) * ((100vw - 320px) / (1153 - 320)));
	}
}
.page__saying {
	padding: 108px 0px 101px 0px;
}
@media (max-width: 950px) {
	.page__saying {
		padding-top: calc(35px + (108 - 35) * ((100vw - 320px) / (1153 - 320)));
		padding-bottom: calc(25px + (101 - 25) * ((100vw - 320px) / (1153 - 320)));
	}
}
.page__stylish {
	padding: 74px 0px 63px 0px;
	background-color: #9a9a9a;
}
@media (max-width: 950px) {
	.page__saying {
		padding-top: calc(30px + (74 - 30) * ((100vw - 320px) / (1153 - 320)));
		padding-bottom: calc(20px + (64 - 20) * ((100vw - 320px) / (1153 - 320)));
	}
}
.page_contact {
	padding: 108px 0px 80px 0px;
}
@media (max-width: 950px) {
	.page_contact {
		padding-top: calc(30px + (108 - 30) * ((100vw - 320px) / (1153 - 320)));
		padding-bottom: calc(20px + (80 - 20) * ((100vw - 320px) / (1153 - 320)));
	}
}
/* --------------header------------------- */
.header {
	padding: 22px 0px;
	background-color: black;
}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo img {
	max-height: 27px;
}
.header__logo img:hover {
	box-shadow: 0px 0px 30px #e40303, inset 0px 0px 10px #d60303;
	border-radius: 5px;
}
.header__list {
	display: flex;
	flex-wrap: wrap;
}
@media (max-width: 600px) {
	.header__list {
		margin-left: 20px;
	}
}
.header__list li:not(:last-child) {
	margin: 0px 47px 0px 0px;
}
.header__list li:last-child {
	margin: 0px 20px 0px 0px;
}
@media (max-width: 580px) {
	.header__list li:not(:last-child) {
		margin-bottom: 10px;
	}
}
.header__list a {
	font-weight: 600;
	color: rgba(255, 255, 255, 0.55);
	transition-duration: 0.5s;
}
.header__list a:hover {
	box-shadow: 0px 0px 30px #e40303, inset 0px 0px 10px #d60303;
	border-radius: 5px;
	font-size: 17px;
}
/* -------------page-axis------------------- */
.axis__content {
	max-width: 517px;
}
@media (max-width: 950px) {
	.axis__content {
		margin-bottom: 40px;
	}
}
.axis__content p,
.axis__content h2 {
	text-shadow: 0px 0px 1px #d1d1d1;
}
.axis__content h2 {
	font-family: Raleway;
	font-size: 36px;
	color: #fff;
	line-height: 1.2;
	margin: 26px 0px 68px 0px;
}
@media (max-width: 950px) {
	.axis__content h2 {
		font-size: calc(20px + (36 - 28) * ((100vw - 320px) / (1153 - 320)));
	}
}
.axis__content p {
	font-family: Raleway;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.44;
	color: #d1d1d1;
	position: relative;
	margin-bottom: 44px;
}
.axis__content p::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 3px;
	width: 12.5%;
	height: 2px;
	background-color: #fff;
	margin: -36px 0px 0px 0px;
	box-shadow: 0px 0px 5px #333;
	border-radius: 2px;
}
.axis__logo img {
	max-height: 60px;
}
.axis__content a {
	display: inline-block;
	height: 42px;
	line-height: 38px;
	border: 2px solid #fff;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	padding: 0px 29px;
	margin-left: 5px;
	position: relative;
	top: 0px;
	transition-duration: 0.5s;
}
.axis__content a:hover {
	top: 3px;
	box-shadow: 0px 0px 10px #000;
	background-color: #5f5e5e;
}
.axis__background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.axis__flex {
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 110px 15px 0px 0px;
	align-items: flex-end;
}
@media (max-width: 950px) {
	.axis__flex {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 50px 15px 0px 15px;
	}
}
.axis__form {
	background-color: #fff;
	border-radius: 3px;
	margin-right: 6px;
}
.form-axis__title {
	background-color: #f5f5f5;
	font-size: 20px;
	font-weight: 800;
	color: #333;
	text-align: center;
	padding: 18px 53px 15px 53px;
	margin: 0px 0px 31px 0px;
	border-radius: 3px 3px 0px 0px;
}
.form-axis__title span {
	color: #ff9b51;
}
.form-axis_input {
	display: flex;
	flex-direction: column;
	max-width: 79.16%;
	margin: 0px auto;
}
.form-axis_input input {
	border-bottom: 2px solid #f5f5f5;
	margin: 0px 0px 37px 0px;
	min-height: 31px;
	position: relative;
	transition-duration: 0.5s;
}
.form-axis_input input:focus {
	box-shadow: 3px 3px 5px #009476;
}
.form-axis_input input:nth-child(3) {
	margin-top: 11px;
}
.form-axis_input input::placeholder {
	color: #bdbdbd;
	padding-left: 13px;
}
.axis__form button {
	display: block;
	background-color: #ff9b51;
	line-height: 54px;
	border-radius: 0px 0px 3px 3px;
	width: 126.45%;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	margin: 9px 0px 0px -13.1%;
	position: relative;
	top: 0px;
	transition-duration: 0.5s;
}
.axis__form button:hover {
	top: 3px;
	box-shadow: 0px 0px 10px #000;
	background-color: #b8530c;
}
/* -------------page-social------------------- */
.social__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.social__contant h3 {
	font-size: 20px;
	font-weight: 700;
	color: #333;
	margin-bottom: 5px;
}
.social__contant p {
	line-height: 1.43;
	color: #86878b;
	max-width: 363px;
}
.social__link {
	margin: 0px 35px 0px 0px;
}
@media (max-width: 990px) {
	.social__link {
		margin: 0px 0px 0px 0px;
	}
}
.social__list {
	display: flex;
	flex-wrap: wrap;
}
.social__list li {
	margin: 0px 25px;
	position: relative;
	top: 0px;
	transition-duration: 0.3s;
}
.social__list li:hover {
	box-shadow: 0px 0px 25px #045343, inset 0px 0px 20px #00f6c5;
	border-radius: 13px;
	top: 3px;
}
@media (max-width: 1153px) {
	.social__list li {
		margin: calc(10px + (25 - 10) * ((100vw - 320px) / (1153 - 320)));
	}
}
.social__list img {
	height: 46px;
}

/* --------------tabs------------------- */
.tabs__row {
	display: flex;
}
@media (max-width: 990px) {
	.tabs__row {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 990px) {
	.tabs__cubs {
		display: flex;
	}
}
.cubs__item {
	position: relative;
	left: 0px;
	top: 0px;
	transition-duration: 0.5s;
}
.cubs__item:hover {
	left: 5px;
	box-shadow: 0px 0px 10px #000;
	background-color: #b8530c;
}
.cubs__item h5 {
	background-color: #333333;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	width: 112px;
	height: 112px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 990px) {
	.tabs__cubs h5 {
		height: calc(70px + (112 - 50) * ((100vw - 320px) / (1100 - 320)));
		width: calc(70px + (112 - 50) * ((100vw - 320px) / (1100 - 320)));
	}
}
.cubs__item-activ h5 {
	background-color: #ff8b38;
	border-radius: 4px 4px 0px 0px;
}
.cubs__item-noborder h5 {
	border-radius: 0px 0px 4px 4px;
}
.tabs__contant {
	margin: 0px 100px;
}
@media (max-width: 1100px) {
	.tabs__contant {
		margin: calc(30px + (100 - 30) * ((100vw - 320px) / (1100 - 320)));
	}
}
.contant-tabs a {
	display: inline-block;
	line-height: 46px;
	height: 46px;
	padding: 0px 25px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	background-color: #ff8b38;
	border-radius: 4px;
	position: relative;
	top: 0px;
	transition-duration: 0.5s;
}
.contant-tabs a:hover {
	top: 3px;
	box-shadow: 0px 0px 10px #000;
	background-color: #b8530c;
}
.contant-tabs__title {
	font-size: 20px;
	font-weight: bold;
	color: #000;
	margin: 7px 0px 48px 0px;
}
.contant-tabs__text {
	line-height: 1.4;
	color: #86878b;
	margin-bottom: 30px;
}
.tabs__image img {
	max-width: 320px;
	margin-top: 24px;
}

/* --------------sublist------------------- */

.sublist__container {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 922px) {
	.sublist__container {
		flex-direction: column;
		align-items: center;
	}
}
.sublist__image img {
	max-width: 453px;
	box-shadow: 0px 7px 30px #9a9a9a;
	margin-top: 22px;
}
@media (max-width: 922px) {
	.sublist__image img {
		margin-bottom: 40px;
	}
}
@media (max-width: 500px) {
	.sublist__image img {
		max-width: 310px;
	}
}
.sublist__contant {
	margin-left: 177px;
	padding: 0px 17px;
}
@media (max-width: 1100px) {
	.sublist__contant {
		margin-left: 70px;
	}
}
.sublist__text h3 {
	font-size: 20px;
	font-weight: 700;
	color: #212121;
	margin-bottom: 54px;
	position: relative;
	text-shadow: 0px 0px 1px #000;
}
.sublist__text h3::after {
	content: "";
	position: absolute;
	width: 14.3%;
	height: 2px;
	top: 44px;
	left: 0px;
	background-color: #ff8b38;
}
.sublist__text p {
	line-height: 1.43;
	color: #86878b;
	margin-bottom: 43px;
}
.sublist__item {
	display: flex;
	margin-bottom: 42px;
}
.item-sublis__icon img {
	border: 2px solid #ff8b38;
	border-radius: 50%;
	padding: 11px 9px;
	margin: 0px 28px 0px 0px;
}
.item-sublis__text h4 {
	font-weight: 600;
	color: #212121;
	margin-bottom: 10px;
	text-shadow: 0px 0px 1px #000;
}
.item-sublis__text p {
	line-height: 1.43;
	color: #86878b;
}

/* --------------standart------------------- */

.standart__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 922px) {
	.standart__container {
		flex-direction: column;
		align-items: center;
	}
}
.standart__contant h3 {
	font-size: 20px;
	font-weight: 700;
	color: #212121;
	margin-bottom: 54px;
	position: relative;
	text-shadow: 0px 0px 1px #000;
}
.standart__contant h3::after {
	content: "";
	position: absolute;
	width: 13.4%;
	height: 2px;
	top: 44px;
	left: 0px;
	background-color: #ff8b38;
}
.standart__text p {
	line-height: 1.43;
	color: #86878b;
}
.standart__image img {
	max-width: 453px;
	box-shadow: 0px 7px 30px #9a9a9a;
	margin-left: 197px;
}
@media (max-width: 500px) {
	.standart__image img {
		max-width: 310px;
	}
}
@media (max-width: 1100px) {
	.standart__image img {
		margin-left: 70px;
	}
}
@media (max-width: 922px) {
	.standart__image img {
		margin-top: 40px;
		margin-left: 0px;
	}
}

/* --------------awesome------------------- */

.awesome__title {
	margin-bottom: 80px;
}
@media (max-width: 1100px) {
	.awesome__title {
		margin-bottom: calc(20px + (80 - 20) * ((100vw - 320px) / (1153 - 320)));
	}
}
.awesome__row {
	display: flex;
	justify-content: space-between;
	margin: 0px -16px;
}
@media (max-width: 650px) {
	.awesome__row {
		flex-wrap: wrap;
	}
}
.awesome__item {
	margin: 0px 16px;
}
@media (max-width: 650px) {
	.awesome__item {
		margin-bottom: 30px;
	}
}
.item-awesome {
	text-align: center;
}
.item-awesome__icon img {
	text-align: center;
	border: 2px solid #ff8b38;
	padding: 21px 25px;
	border-radius: 50%;
	margin-bottom: 29px;
}
.item-awesome__icon-1 img {
	padding: 25px 17px;
	background: url("../img/main/awesome/4_2.webp") 17px 25px no-repeat;
}
.item-awesome__icon-2 img {
	padding: 20px 26px;
}
.item-awesome__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	text-align: center;
	color: #333;
	margin-bottom: 29px;
}
.item-awesome__text {
	line-height: 1.43;
	text-align: center;
	color: #86878b;
}

/* --------------pricing------------------- */

.pricing__title {
	margin-bottom: 80px;
}
.pricing__title h4::after {
	content: "";
	position: absolute;
	top: 66px;
	left: 47%;
	width: 6%;
	height: 2px;
	background-color: #ff8b38;
	display: inline-block;
}
@media (max-width: 440px) {
	.pricing__title h4::after {
		top: 66 px;
		left: 47%;
	}
}
@media (max-width: 990px) {
	.pricing__title {
		margin-bottom: calc(20px + (80 - 20) * ((100vw - 320px) / (1100 - 320)));
	}
}
.pricing__row {
	display: flex;
	margin: 0px -20px;
	align-items: flex-end;
}
@media (max-width: 700px) {
	.pricing__row {
		display: block;
		margin: 0px 5px;
	}
}
.pricing__column {
	flex: 0 1 33.333%;
	padding: 0px 20px;
}
@media (max-width: 700px) {
	.pricing__column {
		padding: 30px 0px;
	}
}
.column-pricing__title {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background-color: #333333;
	padding: 21px 0px;
	position: relative;
}
.column-pricing__title::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #f5f5f5;
	top: 61px;
	left: 0px;
}
.column-pricing__text {
	background-color: #333333;
	text-align: center;
}
.column-pricing__text h3 {
	font-family: Raleway;
	font-weight: 700;
	font-size: 35px;
	color: #fff;
}
.column-pricing__text span {
	font-family: Raleway;
	font-weight: 700;
	font-size: 94px;
	color: #fff;
}
.column-pricing__text p {
	font-weight: 600;
	color: #939393;
	margin: 18px 0px 21px 0px;
	font-style: italic;
	font-family: Raleway;
	position: relative;
}
.column-pricing__text p::after {
	content: "";
	width: 100%;
	height: 6px;
	background-color: #ff8b38;
	position: absolute;
	bottom: -21px;
	left: 0px;
}
.column-pricing__text ul {
	background-color: #fff;
}
.column-pricing__text li {
	padding: 15px 0px;
	position: relative;
}
.column-pricing__text li::after {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #f5f5f5;
	position: absolute;
	top: 0px;
	left: 0px;
}
.column-pricing__text a {
	color: #86878b;
	text-transform: uppercase;
	transition-duration: 0.3s;
}
.column-pricing__text a:hover {
	text-shadow: 0px 0px 5px #000;
	font-size: 17px;
}
.column-pricing__text_orange p {
	position: relative;
	margin-bottom: 58px;
}
.column-pricing__text_orange p::after {
	content: "OUR MOST POPULAR";
	width: 100%;
	height: 40px;
	background-color: #ff8b38;
	position: absolute;
	bottom: -58px;
	left: 0px;
	display: flex;
	font-weight: 700;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-style: normal;
}

/* --------------saying------------------- */

.saying__title {
	margin-bottom: 55px;
}
@media (max-width: 1100px) {
	.saying__title {
		margin-bottom: calc(30px + (55 - 30) * ((100vw - 1100px) / (1100 - 320)));
	}
}
.saying__title h4::after {
	content: "";
	position: absolute;
	top: 66px;
	left: 47%;
	width: 6%;
	height: 2px;
	background-color: #ff8b38;
	display: inline-block;
}
@media (max-width: 670px) {
	.saying__title h4::after {
		top: 102px;
	}
}
@media (max-width: 450px) {
	.saying__title h4::after {
		top: 138px;
	}
}
.saying__row {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 870px) {
	.saying__row {
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (max-width: 870px) {
	.saying__column {
		margin: 20px;
	}
}
.column-saying__text {
	color: #86878b;
	background: url("../img/main/saying/on_text.jpg") 0 0 no-repeat;
	padding: 16px 12px;
	margin-bottom: 8px;
	font-style: italic;
	height: 147px;
	line-height: 1.5;
	max-width: 273px;
}
.column-saying__row {
	display: flex;
	align-items: center;
}
.column-sayingg__bg {
	background-color: #9a9a9a;
	padding: 35px;
	border-radius: 50%;
	margin-right: 15px;
	margin-left: 3px;
}
.column-saying__author h3 {
	font-size: 20px;
	font-weight: 700;
	color: #333;
	margin-bottom: 7px;
}
.column-saying__author p {
	color: #86878b;
}
/* --------------stylish------------------- */

.stylish__title h4 {
	font-family: Raleway;
	font-size: 36px;
	color: #fff;
}
.stylish__title h4::after {
	content: "";
	position: absolute;
	top: 66px;
	left: 47%;
	width: 6%;
	background-color: #fff;
	display: inline-block;
}
@media (max-width: 440px) {
	.stylish__title h4::after {
		top: 102px;
		left: 47%;
	}
}
.stylish__title h6 {
	font-family: Raleway;
	font-size: 16px;
	font-weight: 300;
	color: #d7d7d7;
}
.stylish__button {
	text-align: center;
	margin-top: 33px;
}
.stylish__button a {
	display: inline-block;
	height: 42px;
	line-height: 38px;
	border: 2px solid #fff;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	padding: 0px 31px;
	position: relative;
	top: 0px;
	transition-duration: 0.5s;
}
.stylish__button a:hover {
	top: 3px;
	box-shadow: 0px 0px 10px #000;
	background-color: #5f5e5e;
}

/* --------------contact------------------- */

.contact__title {
	margin-bottom: 80px;
}
@media (max-width: 1100px) {
	.contact__title {
		margin-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1100 - 320)));
	}
}
.contact__title h4::after {
	content: "";
	position: absolute;
	top: 66px;
	left: 47%;
	width: 6%;
	height: 2px;
	background-color: #ff8b38;
	display: inline-block;
}
@media (max-width: 440px) {
	.contact__title h4::after {
		top: 66px;
		left: 47%;
	}
}
.form-contact {
	text-align: center;
}
.form-contact__row {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 700px) {
	.form-contact__row {
		display: block;
	}
}
.form-contact__row input {
	border-bottom: 2px solid #f5f5f5;
	min-height: 31px;
	width: 527px;
	margin-bottom: 30px;
	position: relative;
	transition-duration: 0.5s;
}
.form-contact__row input:focus {
	box-shadow: 3px 3px 5px #009476;
}
@media (max-width: 1100px) {
	.form-contact__row input {
		width: calc(150px + (527 - 150) * ((100vw - 320px) / (1100 - 320)));
	}
}
@media (max-width: 700px) {
	.form-contact__row input {
		width: calc(230px + (527 - 230) * ((100vw - 320px) / (700 - 320)));
	}
}
.form-contact__row textarea {
	border-bottom: 2px solid #f5f5f5;
	width: 527px;
	height: 152px;
	position: relative;
	transition-duration: 0.5s;
}
.form-contact__row textarea:focus {
	box-shadow: 3px 3px 5px #009476;
}
@media (max-width: 1100px) {
	.form-contact__row textarea {
		width: calc(150px + (527 - 150) * ((100vw - 320px) / (1100 - 320)));
	}
}
@media (max-width: 700px) {
	.form-contact__row textarea {
		width: calc(230px + (527 - 230) * ((100vw - 320px) / (700 - 320)));
		margin-top: 30px;
	}
}
.form-contact__row input::placeholder,
.form-contact__row textarea::placeholder {
	color: #bdbdbd;
}
form button {
	display: inline-block;
	line-height: 46px;
	height: 46px;
	padding: 0px 24px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	background-color: #ff8b38;
	border-radius: 4px;
	margin-top: 13px;
	position: relative;
	top: 0px;
	transition-duration: 0.5s;
}
form button:hover {
	top: 3px;
	box-shadow: 0px 0px 10px #000;
	background-color: #b8530c;
}
/* --------------footer------------------- */
.footer {
	padding: 21px 0px 15px 0px;
	background-color: #000;
}
.footer__link {
	margin: 0px 35px 0px 0px;
}
@media (max-width: 1153px) {
	.footer__link {
		margin-right: calc(3px + (35 - 3) * ((100vw - 320px) / (1153 - 320)));
	}
}
.footer__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.footer__list li {
	margin: 0px 15px;
	transition-duration: 0.3s;
	position: relative;
	top: 0px;
}
@media (max-width: 1153px) {
	.footer__list li {
		margin: calc(18px + (25 - 18) * ((100vw - 320px) / (1153 - 320)));
	}
}
.footer__list li:hover {
	box-shadow: 0px 0px 20px #00f6c5, inset 0px 0px 10px #00f6c5;
	border-radius: 3px;
	top: 3px;
}
.footer__list img {
	height: 23px;
}
address {
	margin-top: 15px;
	text-align: center;
	color: #808080;
	font-size: 12px;
	font-style: normal;
}
